<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
	<h1>{{ answer }}</h1>
    <form method="post">
	    {% csrf_token %}
	    <label for="username">Введите логин:</label>
	    <input type="text" id="username" name="username" maxlength="30" required placeholder="Ваш логин">

	    <label for="password">Введите пароль:</label>
	    <input type="password" id="password" name="password" minlength="8" required placeholder="Ваш пароль">

        <label for="repeat_password">Повторите пароль:</label>
	    <input type="password" id="repeat_password" name="repeat_password" minlength="8" required placeholder="Повторите пароль">

	    <label for="age">Введите свой возраст:</label>
	    <input type="number" id="age" name="age" maxlength="3" required placeholder="Ваш возраст">

	    <button type="submit">Зарегистрироваться</button>
    </form>
</body>
</html>
